.wishlist-container-category {
  background: #fff;
  border-radius: 24px;
  padding: 30px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  min-height: 490px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.wishlist-header-category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 80%;
}

.wishlist-title-category {
  font-size: 18px;
  font-weight: 400;
  color: #5c5c5c;
}

.wishlist-actions-category {
  display: flex;
  gap: 10px;
}

.create-button-category {
  background: #ebebeb;
  border: none;
  border-radius: 8px;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 14px;
  color: #5c5c5c;
}

.category-hashtag {
  width: 80%;
  text-align: left;
  margin-bottom: 20px;
  color: #8a4be2;
  font-weight: 600;
  font-size: 20px;
}

.wishlist-grid-category {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
}

.wishlist-image-box-category {
  position: relative;
  width: 100%;
  height: 200px;
  border-radius: 12px;
  overflow: hidden;
}

.wishlist-image-category {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.delete-icon-category {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 2;
}

.back-button-category {
  background: #ebebeb;
  border: none;
  border-radius: 8px;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 14px;
  color: #5c5c5c;
}

.wishlist-masonry-grid {
  display: flex;
  margin-left: -16px; /* gutter */
  width: 80%;
}

.wishlist-masonry-grid-column {
  padding-left: 16px;
  background-clip: padding-box;
}

.wishlist-masonry-item {
  position: relative;
  margin-bottom: 20px;
  border-radius: 12px;
  overflow: hidden;
}

.wishlist-image-category {
  width: 100%;
  display: block;
  border-radius: 12px;
  object-fit: cover;
}

.category-masonry-grid {
  display: flex;
  width: 80%;
  margin-left: -16px;
}

.category-masonry-grid-column {
  padding-left: 16px;
  background-clip: padding-box;
}

.category-masonry-item {
  position: relative;
  margin-bottom: 20px;
  border-radius: 12px;
  overflow: hidden;
}
/*수정*/