/* MyProducts.css */

.wishlist-container-products {
  background: #fff;
  border-radius: 24px;
  padding: 30px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  min-height: 490px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 100%; */
  /* max-width: 100px; */
  margin: 0 auto;
}

.wishlist-header-products {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  width: 80%;
}

.wishlist-title-products {
  font-size: 18px;
  font-weight: 400;
  color: #5c5c5c;
}

.wishlist-actions-products {
  display: flex;
  gap: 10px;
}

.create-button-products {
  background: #ebebeb;
  border: none;
  border-radius: 8px;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 14px;
  color: #5c5c5c;
}

.wishlist-grid-products {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 24px;
}

.wishlist-card-products {
  /* text-align: center; */
  text-align: left;
}

.wishlist-image-wrapper-products {
  display: flex;
  width: 100%;
  height: 200px;
  gap: 4px;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 15px;
}

.wishlist-image-multi-products {
  flex: 1;
  height: 100%;
  object-fit: cover;
  min-width: 0;
}

.wishlist-name-products {
  font-weight: bold;
  margin-bottom: 4px;
}

.wishlist-count-products {
  font-size: 13px;
  color: #000000;
}
