.input-password {
  width: 82%;
  height: 45px;
  padding-left: 1rem;
  margin-bottom: 0.75rem;
  border: none;
  border-radius: 0.5rem;
  background: #f0f0f0;
  font-size: 0.875rem;
  font-weight: 300;
  box-sizing: border-box;
  transition: border 0.2s ease;
}

.input-password:focus {
  border: 1px solid #c084fc;
  outline: none;
}

.password-submit-btn {
  width: 82%;
  height: 45px;
  background: #000;
  color: white;
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 0.75rem;
}

.password-hint {
  font-size: 0.75rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: 2.4rem;
}

/* 일치 */
.password-hint.match {
  color: #9e9e9e;
}

/* 불일치 */
.password-hint.mismatch {
  color: #f87171; /* 연한 빨강 */
}
