.home-container {
  padding: 24px;
}

.section-title {
  color: #6c49ff;
  font-size: 20px;
  margin: 16px 0;
}

.my-masonry-grid {
  display: flex;
  margin-left: -16px;
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 16px;
  background-clip: padding-box;
}

.masonry-item {
  margin-bottom: 16px;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
}

.masonry-img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 12px;
}
